html{background-color: #344e41;
}

header{
   padding: 10px;
   background: #dad7cd;
   color: white;
   font-size: 25px;
   position: relative;
   text-align: right;
}

section{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #dad7cd;
    text-align: center;
    text-decoration: underline;
}

.tom{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about{
    background-color: #588157;
    inline-size: 50%;
}

.first{
    background-color: #588157;
    inline-size: 50%;
    text-align: center;
    color: #dad7cd;
}

.glass{
    width: 300px;
    height: 200px;
}

.second{
    background-color: #588157;
    inline-size: 50%;
    text-align: center;
    color: #dad7cd;
}


.solow{
    width: 300px;
    height:200px;
}

.third{
    background-color: #588157;
    inline-size: 50%;
    text-align: center;
    color: #dad7cd;
}

.camera{
    width: 300px;
    height:200px;
}

.contact{
    background-color: #588157;
    inline-size: 50%;
    text-align: center;
    color: #dad7cd;
    border: 5px solid #dad7cd; 
}
